@import url('https://fonts.googleapis.com/css2?family=Belgrano&family=Mozilla+Headline:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: black;
    height: 200vh;
}

.back-ground{
    position: fixed;
    inset: 0;
    font-family: 'Roboto', sans-serif;
     background: linear-gradient(#00ffff1c .1rem, transparent .1rem),
    linear-gradient(90deg, #00e1ff3a .1rem, transparent .1rem);
    background-size: 100px 100px;
    filter: drop-shadow(0 0 8px rgba(0, 238, 255, 0.7));
    z-index: -1;
    animation: drift 50s linear infinite;
}

.back-ground::before{
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
    background: radial-gradient(circle at top left, rgba(0, 255, 255, 0.12), transparent);
}
@keyframes drift {
    0%{background-position: 0 0;}
    100%{background-position: 100px 100px;}
}
.nav{
    max-width: 1300px;
    width: 70%;
     transform: translateX(-50%);
    top: 30px;
    left: 50%;
    position: fixed;
    padding: 30px 40px;
    border: 1px solid rgba(0, 238, 255, 0.5);
    border-radius: 30px;
    background: rgba(0, 238, 255, 0.5);
      backdrop-filter: blur(10px) saturate(180%);
      transition: all 0.3s ease-in-out;

}
.nav-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav a{
    text-decoration: none;
    color: #00ffff;
    font-size: 1.3rem;
    font-family: 'Belgrano', sans-serif;
    border: 1px solid rgba(0, 238, 255, 0.5);
    border-radius: 20px;
    padding: 10px 20px;

}

.nav a:hover{
    background: rgba(0, 238, 255, 0.7);
    color: #000;
    transition: all 0.3s ease-in-out;
}

.nav.scrolled{
    background: rgba(0, 238, 255, 0.5);
    border-radius: 90px;
    top: 20px;
    width: 60%;
}
.small{
    display: none;
}
.small svg{
    width: 30px;
    height: 30px;
    cursor: pointer;
}

@media (max-width: 900px) {
    .nav-links {
    max-width: 1300px;
    width: 70%;
    transform: translateX(-50%);
    top: -180%;
    left: 50%;
    position: fixed;
    padding: 30px 40px;
    border: 1px solid rgba(0, 238, 255, 0.5);
    border-radius: 30px;
    background: rgba(0, 238, 255, 0.5);
      backdrop-filter: blur(10px) saturate(180%);
      transition: all 0.3s ease-in-out;
      display: flex;
      flex-direction: column;
 gap: 30px;
      align-items: center;
      opacity: 0;

    }
    .small {
        display: block;
    }
    .nav.scrolled .nav-links {
        top: 20px;
        opacity: 1;
    }
}

