@import url('https://fonts.googleapis.com/css2?family=Belgrano&family=Mozilla+Headline:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.back-ground{
    position: fixed;
    inset: 0;
    font-family: 'Roboto', sans-serif;
     background: linear-gradient(#0000001c .1rem, transparent .1rem),
    linear-gradient(90deg, #0000003a .1rem, transparent .1rem);
    background-size: 100px 100px;
    filter: drop-shadow(0 0 8px rgba(255, 123, 0, 0.7));
    z-index: -1;
    animation: drift 50s linear infinite;
}

@keyframes drift {
    0%{background-position: 0 0;}
    100%{background-position: 100px 100px;}
}
.nav{
   width: 100%;
    padding: 30px 40px;
    border: 1px solid rgba(0, 238, 255, 0.5);
    background: rgba(255, 153, 0, 0.5);
      backdrop-filter: blur(10px) saturate(180%);
      transition: all 0.3s ease-in-out;
      z-index: 1000;
      display: flex;
      justify-content: space-between;
}
.logo{
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-family: sans-serif;
    cursor: pointer;
}
.links{
    display: flex;
    align-items: center;
    gap: 20px;
}
.links a{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 1.3rem;
    transition: all .4s ease-in-out;
    font-weight: 600;
}
.links a:hover{
    color: rgb(0, 132, 255);
}
.small{
    display: none;
    width: 30px;
    height: 30px;
    transition: all 0.5s ease-in-out;
}
.small svg{
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.small.active{
    transform: rotate(180deg) scale(1.2);
     transition: all 0.5s ease-in-out;

}

@media (max-width: 900px) {
    .nav-links {
        position: fixed;    
        top: -500px;
        left: 50%;
        transform: translateX(-50%) scale(0.9);
        width: 100%;
        background-color: aqua;
        border: 1px solid rgba(255,255,255,0.2);
        gap: 30px;
        box-shadow: 0 12px 40px rgba(0,0,0,0.6);
        transition: top 0.5s ease, transform 0.4s ease, opacity 0.4s ease;
        z-index: 10009;
        opacity: 0;
        padding: .5rem;
        color: black;
    }
    .nav-links a{
        font-size: .9rem;
        color: black;
        font-weight: 600;
    }
    .small {
        display: block;
    }
    .nav-links.active{
         top: 100px;
        transform: translateX(-50%) scale(1);
        opacity: 1;
    }

}

